%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      %li.header MAIN NAVIGATION
      %li.active.treeview
        %a{:href => "/dashboards"}
          %i.fa.fa-dashboard
          %span Dashboard
      %li
        %a{:href => "/incomes"}
          %i.fa.fa-plus
          %span Income
      %li
        %a{:href => "/expenses"}
          %i.fa.fa-minus
          %span Expense
      %li
        %a{:href => "/transaction_records/total_balance"}
          %i.fa.fa-file-text
          %span Transaction Report
      - if current_user.role == "admin"
        %li
          %a{:href => "/incomes/all_income_category"}
            %i.fa.fa-calculator
            %span Add Income Category
        %li
          %a{:href => "/expenses/all_expense_category"}
            %i.fa.fa-calculator
            %span Add Expense Category
