%section.content-header
  %h1
    Expense
    %small Source
  %ol.breadcrumb
    %li
      %a
        %i.fa.fa-dashboard
        Home
    %li.active Expense
%hr
%section.content
  .box.box-success
    .box-header
      %h4
        Add Expense Information
    .box-body
      = form_for @expense, :url => expenses_path, :method => :post, :html => {:class => "form-horizontal", :id => "expense_form"} do |f|
        = f.hidden_field :user_id, :value => current_user.id
        = render :partial => 'form', :locals => { :f => f}
        .box-footer
          .col-md-offset-1
            = f.submit "Add Expense", :class => "btn btn-success"    
